

main,header,footer{
    display: none;
}

.teller{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    text-align: center;
    font-size: 30px;
    
}

.teller>p{
    font-family: "DM sans" !important;
}
@media only screen and (min-width:900px){
.teller{
    display: none;
}
header,main,footer{
    display: block;
}

:root{
    --indigo-white:#F9F9FE;
    --gray:#6B6A7E;
    --blue:#5653E1;
    --pink:#FF9D41;
    --infi:#AEADF1;
}
body{
    padding: 0;
    margin: 0;
}
.box{
    background-color:var(--infi) ;
    border-radius: 10px;
    
}
*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif !important;
}
header{
    width: 100%;
    height: 15vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.h-r-1{
    background-color: var(--indigo-white);
    width: 100%;
    position: inherit;
    left: 0;
    top: 0;
    height: 6vh;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.h-r-1>div{
    width: 50%;
    display: flex;
    align-items: center;
    
}

.r-1-1>div{
    margin-left: 12%;
    width: 50%;
    display: flex;
    align-items: center;
}
.r-1-1>div>span{
    margin-left: 5%;
}

.r-1-2{
    justify-content:flex-end;
    padding-right: 30px;
}

.h-r-2{
    top: 6vh;
    left: 0;
    background-color: #fff;
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.h-r-2>div{
    width: 50%;
    padding: 10px;

}

.h-r-2>div>a{
    text-decoration: none;
    color: #060606;
    margin-left: 5%;
}

.h-r-2>div>a:hover{
    color: var(--pink);
}

.h-r-2>div>img{
    width: 200px;
    margin-left: 7%;
}

main{
    margin-top: 15vh;
    width: 100%;
}



footer{
    background-color: #000000;
    width: 100%;
    height: 50vh;
    padding: 20px;
    margin-top: 10vh !important;
}

.f-r-1{
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 80%;
    margin-left: 10%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    

   
}

}

.f-r-1-1{
    color: #fff;
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.f-r-1-1>img{
    width: 150px;
}
.f-r-1-1>div>img{
    width: 25px;
    margin-left: 4%;
}

.f-r-1-2,.f-r-1-3{
    display: flex;
    color: #fff;
    flex-direction: column;
    height: 80%;
    align-items: center;
    width: 25%;
    /* background-color: red; */
}
.f-r-1-2>div,.f-r-1-3>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f-r-1-2>div>a, .f-r-1-3>div>a{
    margin-top: 3%;
    text-decoration: none;
    color: #cbcccc;
    font-weight: 100 !important;
}


.f-r-1-4{
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 25%;
    
}

.inp{
    border: 0;
    border-radius: 30px;
    padding: 20px;
}

.f-r-1-4>button{
    background-color: var(--pink);
    border: 0;
    border-radius: 40px;
    width: 150px;
    padding: 16px;
    color: #fff;
    margin-top:5%;
}

.f-r-2{
    color: #e7e5e5;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    font-size: 14px;
    height: 20%;
    align-items: flex-end;
}



/* main */


.main-row-1{
    display: flex;
    justify-content:space-around;
    width: 80%;
    margin-left: 10%;
    height: 50vh;
    align-items: center;

}
.m-1-1{
    width: 25%;
    display: flex;flex-direction: column;
}

.c1{
    width: 100px;
    height: 120px;
}

.m-1-1>p>span{
    color: var(--infi);
}

.m-1-2{
    width:60%;
}

.dire{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: -5%;
}
.m-1-3{
    width: 15%;
    /* background-color: red; */
    padding: 10px;
    margin-left: 4%;
}

.m-1-3>button{
    background-color: var(--pink);
    color: #fff;
    padding: 14px;
    border-radius: 30px;
    width: 130px;
    border: 0;
}

.main-row-2{
    width: 100%;
    background-color: var(--blue);
    height: 30vh;
    margin-top: 10%;
}

.main-row-2>div{
    width: 60%;
    margin-left: 20%;
    position: absolute;
    margin-top: -10%;
    height: 40vh;
    background-color: var(--infi);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-row-2>div>img{
    width: 100px;
}

.main-row-3{
    margin-top: 7vh;
    width: 100%;
    height: auto;
}